.about {
  background-color: #000;
  color: white;
  min-height: 100vh;
  text-align: center;
  padding: 120px 60px;
  position: relative;
  overflow: hidden;
}

.about-title {
  font-size: 2.5rem;
}

.about-subtitle {
  font-size: 2rem;
  color: #00bfff;
  font-weight: 700;
}

.about-role {
  font-size: 1.5rem;
  font-weight: 600;
  color: aquamarine;
}

.about-description {
  font-size: 1.1rem;
  line-height: 1;
  text-align: justify;
  max-width: 800px;
  margin: 0 auto;
}

