.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: transparent;
  position: fixed;
  width: 90%;
  top: 0;
  z-index: 10;
  overflow: hidden;
}

.logo {
  font-size: 1.5rem;
  font-weight: 400;
  color: #0ad228;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
  color: #8a63f1;
  border-bottom: 2px solid #8a63f1;
}
