
.projects-section {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 80px 20px;
}

.projects-title {
  font-size: 3rem;
  font-weight: 700;
  color: blue;
  margin-bottom: 60px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.project-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #7a8572;
  border-radius: 16px;
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.1);
  padding: 30px;
  width: 90%;
  max-width: 1000px;
  transition: all 0.3s ease;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

/* .project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px #7b61ff;
} */

/* Project Image */
.project-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-image img {
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

/* Project Info */
.project-info {
  flex: 1;
  text-align: left;
  padding: 20px 30px;
}

.project-name {
  font-size: 1.8rem;
  color: #b48ef7;
  font-weight: 600;
  margin-bottom: 10px;
}

.project-tech span {
  font-size: 1.4rem;
  margin-right: 10px;
}

.project-description {
  font-size: 1rem;
  color: #ccc;
  margin: 15px 0 25px;
  line-height: 1.6;
}

/* Buttons */
.project-buttons {
  display: flex;
  gap: 15px;
}

.btn-outline {
  border: 1px solid #b48ef7;
  padding: 8px 20px;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.btn-outline:hover {
  background: #b48ef7;
  color: #000;
}


/* @media (max-width: 900px) {
  .project-card {
    flex-direction: column;
    text-align: center;
  }

  .project-info {
    text-align: center;
    padding: 20px 0 0;
  }

  .project-image img {
    max-width: 300px;
  }

  .project-buttons {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .projects-title {
    font-size: 2rem;
  }

  .project-name {
    font-size: 1.5rem;
  }
} */
